.sidebar {
  width: var(--base-sidebar-width);
  height: calc(100vh - var(--base-titlebar-height));
  background-color: var(--base-white);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  position: fixed;
  top: var(--base-titlebar-height);
  left: 0;

  border-right: 1px solid var(--base-gray);
  padding: 24px 12px;

  gap: 12px;
}

.sidebar-title {
  color: var(--base-black);
  font-weight: 1000;
  font-size: 12px;
  padding: 0 12px;
}

.sidebar-menus {
  width: 100%;
  list-style: none;
  padding: 0;
}

.sidebar-menu {
  -webkit-app-region: no-drag;
  -webkit-user-select: none;
  user-select: none;

  width: 100%;
  height: 32px;
  box-sizing: border-box;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  list-style-type: none;

  cursor: pointer;
  font-size: 12px;

  padding: 0 12px;
  transition: background-color 0.2s;
}

.sidebar-menu:hover:not(.sidebar-menu-active) {
  background-color: #eee;
}

.sidebar-menu a {
  text-decoration: none;
  color: var(--base-black);
  transition: color 0.2s;
}

.sidebar-menu-active {
  font-weight: 800;
  background-color: var(--base-black);
  border-radius: 4px;
}

.sidebar-menu-active a {
  color: var(--base-white);
}
